# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

#java
*.class

*.settings

.springBeans
target/

*.launch
*.bpmn2d
.gitignore
.idea/
*.iml


bin