<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:context/*.xml,
            classpath*:config/spring/**/*.xml,
            classpath*:context/spring/**/*.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value> 
            classpath:log4j.properties
        </param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webapp.externalroot</param-value>
    </context-param>
     <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    
    <!-- 统一的启动初始类，用于加载基本配置和数据 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

   
<!--     <listener> -->
<!--         <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class> -->
<!--     </listener> -->
    <!-- 编码过滤器UTF-8编码 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.qyzx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    
    <!-- 配置登陆过滤器 -->
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.looker.core.filter.LoginFilter</filter-class>
	</filter>
    
    <!-- ACTION响应servlet -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:context/servlet/**/*.xml,classpath*:config/action/**/*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/cores/dataApiManager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.qyzx</url-pattern>
    </servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
<!-- 	<error-page>
		<error-code>500</error-code>
		<location>/pageframe/common/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/pageframe/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pageframe/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pageframe/common/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/pageframe/common/token.jsp</location>
	</error-page> -->
	
</web-app>
